.marginTop
{
    margin-top: 5.5%;
}

/* #501e38 */

.dhx_tree-folder:hover>*>*, .dhx_tree-folder:hover>*, .dhx_tree-list-item:hover>*>*, .dhx_tree-list-item:hover>* {
    color: #501e38;
}

.dhx_tree-list-item__icon, .dhx_tree-list-item__text, .dhx_tree-toggle-button{
    color: lightgray;
}

.dhx_tree-folder--selected>*>*, .dhx_tree-folder--selected>*, .dhx_tree-list-item--selected>*>*{
    color: #501e38;
}

.timeline
{
    border-radius: 25%; 
    margin: 10px; 
    width: 40%; 
    border: dashed 4px #e95420;
}
.timeline-active
{
    border-radius: 25%; 
    margin: 10px; 
    width: 40%; 
    border: solid 4px #e95420; /*#208820;*/
}